.faq {
    padding: 40px 0;
}

.faq__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    color: #55C2FF;
    margin-bottom: 44px;
}

.faq__item {
    margin-bottom: 15px;
    border: 2px solid #265D77;
    border-radius: 20px;
}

.faq__item:last-child {
    margin-bottom: 0;
}

.faq__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    gap: 5px;
    padding: 18px 33px;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    background-color: transparent;
    border: none;
    transition: color 0.36s ease-in-out;
}

.faq__question:after {
    content: '';
    width: 25px;
    height: 18px;
    flex-shrink: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='14' viewBox='0 0 23 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 14L22.3253 0.5H0.674683L11.5 14Z' fill='%2308475E'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: background-image 0.36s ease-in-out;
}

.faq__item_show .faq__question,
.faq__item:hover .faq__question  {
    color: #55C2FF;
}

.faq__item:hover .faq__question:after,
.faq__item_show .faq__question:after {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='14' viewBox='0 0 23 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 14L22.3253 0.5H0.674683L11.5 14Z' fill='%2355C2FF'/%3E%3C/svg%3E ");
}

.faq__dropdown {
    padding: 0 100px 18px 33px;
    font-weight: 300;
    font-size: 22px;
    line-height: 29px;
}

.faq__item:not(.faq__item_show) .faq__answer {
    display: none;
}