.modal {
    margin: 40px 0;
    display: inline-block;
    vertical-align: middle;
    cursor: default;
    text-align: left;
    white-space: normal;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    max-width: 688px;
    transition-property: opacity, visibility;
    transition-timing-function: ease-in-out;
}

.modal_open {
    visibility: visible;
    opacity: 1;
}

.modal__container {
    position: relative;
    background: #FFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 20px 20px 45px;
}

.modal__title {
    max-width: 400px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center; 
    color: #55C2FF;
    margin: 0 auto 20px;
}

.modal__person {
    display: flex;
    padding: 0;
    margin: 0;
    border: 0;
    margin-bottom: 27px;
}

.modal__label {
    display: block;
    flex-grow: 1;
    font-family: 'IBM Plex Sans';
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #858585;
    margin-right: 16px; 
}

.modal__label:last-child {
    margin-right: 0;
}

.modal__input {
    display: block;
    width: 100%;
    border: 1px solid #68B7FF;
    border-radius: 8px;
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
}

.modal__order {
    display: block;
    margin: 0 auto;
    max-width: 232px;
    width: 100%;
    padding: 11px;
    background-color: #68B7FF;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.modal__close {
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: transparent;
    border: none;
    line-height: 0;
    color: #55C2FF; 
}

@media (max-width: 480px) {
    .modal__person {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .modal__title {
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 10px;
    }

    .modal__label {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .modal__label:last-child {
        margin-bottom: 0;
    }

    .modal__container {
        padding: 20px 13px 36px;
    }

    .modal__close {
        right: 0;
        top: -2px;
        transform: translateY(-100%);
    }
}
